# 01 Importere data til Pandas

Slik importerer du fra vanlige filformater eller andre datakilder til Pandas DataFrame

Her bruker vi offentlige norske datasett som eksempler. Datasettene bruker [Norsk lisens for offentlige data](http://data.norge.no/nlod/)

In [47]:
import pandas as pd

## Excel-filer
Vi bruker her en oversikt over lakselus per oppdrettsanlegg som kan lastes ned fra [fiskehelse.no](https://www.barentswatch.no/nedlasting/fiskehelse/lice
). Vi valgte alle lokaliteter fra uke 1 2016 til uke 42 uke 2017 og formatet XLS.

In [ ]:
df = pd.read_excel('data/fiskehelse_2017-10-27-lakselus_per_fisk.xlsx', sheetname='Lakselus per fisk')
#Funksjonen under viser oss de to første radene av filen
df.head(n=2)

## CSV-filer
Her bruker vi CSV-versjonen av dataene vi hentet inn fra Excel over.

In [49]:
df = pd.read_csv('data/fiskehelse_2017-10-27-lakselus_per_fisk.csv')
df.head(n=2)

,Uke,År,Lokalitetsnummer,Lokalitetsnavn,Voksne hunnlus,Lus i bevegelige stadier,Fastsittende lus,Kommune,Lat,Lon,Sjøtemperatur
0,42,2017,33437,ÅDNAHOLMEN,NaN,NaN,NaN,FINNØY,59.27807,5.777617,NaN
1,42,2017,30196,ÅDNEKVAMME,NaN,NaN,NaN,MASFJORDEN,60.83117,5.353233,NaN

## JSON-filer via API
Her bruker vi et API fra NVE for å hente ut liste over kraftselskaper som har søkt om såkalte elsertifikater. Her har vi ikke lastet ned filen først, men henter direkte fra NVEs sider.

In [51]:
df = pd.read_json('https://api.nve.no/web/ElCert/GetApplications')
df.head(n=2)

,Fylke,GWh,IMalet,Idrift,Kommune,KraftverkEierNavn,KraftverkEierOrgNr,KraftverksNavn,MW,OU,Omraade,ProduksjonGWhForventetElsertifikatberettiget,ProduksjonGWhMaalet,ProduksjonGWhOvergangsordn,Sluttdato,Startdato,Status,StatusDato,StatusID,TypeAnlegg
0,Sør-Trøndelag,10.9,Ja,2012-08-01T00:00:00,Bjugn,BLAASTER VALSNESET AS,995726149,Valsneset testpark,3.00,True,EL 3,10.9,10.9,NaN,2027-12-10T00:00:00,2012-12-10T00:00:00,Godkjent,2012-11-30T00:00:00,4,Vindkraft
1,Hordaland,13.8,Ja,2016-09-01T00:00:00,Odda,Norsk Hydro ASA,914778271,Midtlæger,3.47,True,EL 2,13.8,13.8,NaN,2032-05-01T00:00:00,2017-05-01T00:00:00,Godkjent,2017-04-20T00:00:00,4,Vannkraft